/* @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap'); */
@font-face {
    font-family: 'Gandom';
    src: url("../../public/assets/fonts/Gandom.ttf");
} 

@font-face {
    font-family: 'VazirRegular';
    src: url('../../public/assets/fonts/Vazirmatn-Regular.ttf');
}

@font-face {
    font-family: 'VazirBold';
    src: url('../../public/assets/fonts/Vazirmatn-Bold.ttf');
}


 body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
    font-family:'Gandom', serif;
}

:root {
    --form-title-color: #205781;
    --form-input-borders: #DDA853;
}