.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
  }
  
  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem; 
  }
  