.tourCard {
  background: #f4e3c3;
  border-radius: 8px;
  padding: 10px;
  width: 230px;
  text-align: center;
  box-shadow: 0 4px 8px #ccc;
  transition: transform 0.3s;
  display: inline-block;
  margin: 0 10px;
}

.tourCard:hover {
  transform: translateY(-5px);
}

.tourImage {
  width: 85px;
  height: 85px;
  display: block;
  border-radius: 50%;
}

.tourTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.stars {
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.tourInfoo {
  font-size: 17px;
  margin: 8px 0;
  color: black;
}
.tourInfo {
  font-size: 17px;
  margin: 8px 0;
  color: black;
  text-align: right;
  padding-right: 40px;

}

.verticalLine {
  display: inline-flex;
  width: 1.5px !important;
  height: 16px;
  background-color: #FF8C1A;
  margin: 0 10px;
  margin-bottom: -3px;
}


.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
  margin-right: 1rem;
}

.sectionHeader h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.moreLink {
  font-size: 14px;
  color: #f58119;
  border: 1px solid #f58119;
  padding: 5px 10px;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s;
}

.moreLink:hover {
  background-color: #f58119;
  color: white;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.first_container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.second_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.more_info_button{
  background-color: orange;
  padding: 8px 7px;
  margin-top: 25px;
  color: black;
}
