.verticalLine {
    display: inline-flex;
    width: 1px;
    height: 20px; /* ارتفاع خط عمودی */
    background-color: #FF8C1A; /* رنگ نارنجی */
    margin: 0 10px; /* فاصله از متن */
    margin-bottom: 0;
  }
  

   .tourCard button {
    margin-top: 10px;
    margin-top: 20px; /* دکمه بیاد پایین‌تر */
    padding: 10px 20px;
    width: 60%;
    background: #f58119;
    border: none;
    color: white;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;         /* جلوگیری از رفتن متن به خط بعد */
    line-height: 1.5;            /* فاصله استاندارد متن درون دکمه */
    display: inline-block;
    text-align: center;
  }