.cardWrapper {
  width: 320px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Vazirmatn', sans-serif;
}

.imageWrapper {
  height: 250px;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(10%);
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.cardContent {
  padding: 16px;
  background-color: #FF9800;
  border-radius: 0 0 24px 24px;
  position: relative;
  z-index: 1;
  margin-top: -40px; 
}

.cardTitle {
  font-size: 1.25rem;
  margin: 0 0 8px 0;
  color: #fff;
}

.cardDescription {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  line-height: 1.5;
}
