/* Places.css */

.places-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding: 24px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 80%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    text-align: right;
    direction: rtl;
    z-index: 10;
}

.places-card {
    height: 280px;
    width: 286px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.place-section-title {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 5px;
}

.place-section-title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: #f97316;
    border-radius: 2px;
}

.places-title {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}

.underline-orange {
    width: 60px;
    height: 3px;
    background-color: #FB8101;
    border-radius: 2px;
    margin: 6px 0 12px 0;
}

.place-desc-overlay {
    font-size: 13px;
    margin: 0;
    line-height: 1.4;
    max-width: 90%;
}

.place-button {
    position: absolute;
    bottom: 10px;
    left: 10px;  
    width: 36px;
    height: 36px;
    background-color: #ffffffd8;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #FB8101;
    font-size: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 20;
    transition: transform 0.2s ease;
}

.arrow-icon {
    color: #FB8101 !important; 
    font-size: 15px;
    margin-left: 1px;

}

.place-button:hover {
    transform: scale(1.05);
}

.place-section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-bottom: 20px; 
    padding-right: 30px;
}

.scroll-buttons {
    display: flex;
    gap: 10px; 
    direction: ltr; 
}

.scroll-button {
    background-color: #ffffff00;
    color: #555; 
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.scroll-button:hover {
    background-color: #e0e0e000;
    transform: scale(1.05);
}

.scroll-button svg {
    font-size: 25px;
}
.scroll-container {
  scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.place-section-row {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    gap: 24px; 
    padding-left: 50px;
    padding-right: 50px; 
}

.place-section-row::-webkit-scrollbar {
    display: none;
}

.place-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* پس‌زمینه تاریک پشت مدال */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.place-modal {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 450px;
    height: 500px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.place-modal-close {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 2px;
    left: 5px;
    background: none;
    color: #FB8101;
    border: none;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.place-modal-close:hover {
    background-color: #f3f3f3;
}

.place-modal-image {
    position: relative;
    width: 100%;
    height: 50%; 
    overflow: hidden;
    margin-top: 40px;
}

.place-modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.place-modal-title {
    position: absolute;
    right: 16px;
    top: 10px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 18px;
    color: black;
}

.place-modal-content {
    flex: 1;
    padding: 16px;
    font-size: 14px;
    overflow-y: auto;
}

@media (max-width: 640px) {
  .place-button {
    display: none;
  }
}
