
.input-vazirmatn-style {
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 500;
}
.font-koodak {
  font-family: 'Koodak', Arial, sans-serif;
  font-weight: 700;

}

.font-nazanin {
  font-family: 'Nazanin', Arial, sans-serif;
    font-weight: 700;

}
.font-gandom {
  font-family: 'Gandom', sans-serif;
    font-weight: 400;

}
