@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top left, #EFDCC5, #E2B97F, #E09950);
    font-family: 'Gandom', serif;
    direction: rtl;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 90vh;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.left-panel {
    flex: 1.075;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("Rectangle.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
}

.title {
    font-size: 50px;
    color: #874C2F;
    text-align: center;
    margin-top: 50px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%; /* اندازه div کنترل‌کننده تصویر */
    margin: 0 auto;
}

.image-box {
    width: 300px; /* مقدار ثابت برای اندازه تصویر */
    border: 5px solid #874C2F;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.rectangles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.rectangles div {
    width: 80px;
    height: 15px;
    background-color: #E09950;
    border-radius: 5px;
}

.right-panel {
    flex: 1;
    background-color: #F6E1C5;
    color: #2C3A47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.header {
    font-size: 30px;
    font-weight: bold;
}

.instruction {
    font-size: 18px;
    margin-bottom: 20px;
}

.code-input {
    display: flex;
    justify-content: center;
    gap: 5px;
    direction: ltr;
}

.code-input input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #A57C5D;
    border-radius: 5px;
    outline: none;
}

.code-input input:focus {
    border-color: #E09950;
}

.confirm-btn {
    background: #E09950;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

.confirm-btn:hover {
    background: #D08340;
}

.edit-number, .resend-code {
    display: block;
    color: #2C3A47;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
}

.edit-number:hover, .resend-code:hover {
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .left-panel {
        display: none;
    }
}
