@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://cdn.fontsiran.com/Shabnam.css');


/* General styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top left,#A98062, #956643, #623528);
    font-family: 'Shabnam', sans-serif;
    direction: rtl;
}

/* Main container */
.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 90vh;
    background:#D9A883;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Left panel (Text section) */
.text-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}


.title {
    font-size: 40px;
    color: #871717;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #623528;
    margin-bottom: 20px;
}

/* Buttons styling */
.btn {
    width: 220px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.brown { background-color: #A98062; color: white; }
.blue { background-color: #623528; color: white; }
.darkblue { background-color: #2f3936; color: white; }

.btn:hover { opacity: 0.8; }

/* Right panel (Image section) */
.image-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("./images/fristpage-picture.png");
    border: 5px #871717;
    
}

.image-panel img {
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    .text-panel, .image-panel {
        width: 100%;
    }

    .image-panel img {
        width: 60%; 
        max-width: 250px; 
        transition: 0.3s ease-in-out;
    }
}

