@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

/* General settings for the page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top left,#A98062, #956643, #623528);
    /* Background color of the page */
    font-family: 'Gandom', serif;
    direction: rtl; /* Text direction right to left */
}

/* General settings for the main container */
.container {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 90vh;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Settings for the left panel (bridge image and Mehrgan title) */
.left-panel {
    flex: 1.2;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("images/ax-login-page.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
}

/* Settings for Mehrgan title */
.title {
    font-size: 60px;
    color: #871717;
    text-align: center;
    margin-top: 80px;
}

/* Settings for the bridge image */
.image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

/* Border around the bridge image */
.image-box {
    position: relative;
    width: 70%; /* Reducing the image size to 70% */
    height: auto;
    border: 5px solid #871717;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top:2%;
}

.image-box img {
    width: 100%;
    display: block;
    border-radius: 5px;
   
}

/* Rectangles below the image */
.rectangles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows rectangles to move to the next line when the screen shrinks */
    gap: 10px;
    position: relative; 
    margin-top: 90px; /* Distance from the image */
    bottom: 70px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers the rectangles */
    width: 100%;
}
    
.rectangles div {
    width: 100px;  /* Desired width of the rectangle */
    height: 20px;  /* Desired height of the rectangle */
    background-color: #623528;
    border-radius: 5px;
}

/* Settings for the right panel (login form) */
.right-panel {
    flex: 1;
    background-color: #D9A883;
    color: rgb(11, 60, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

h2 {
    font-size: 28px;
}

form {
    width: 75%;
}

.foor {
    font-size: 40px;
    color: #213141;
}

/* Settings for the login form */
.form-group {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.form-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;
    width: 110%;
}

/* Settings for the icons inside the form */
.icon {
    margin-right: 10px;
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 20px; /* Size of the emoji */
}

/* Login button */
.login-btn {
    background: #213141;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    position: relative;
    left: -25%;
}

.login-btn:hover {
    background: #e0d0c0;
}

.linkk {
    color: rgb(1, 35, 54);
    margin-top: 10px;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .left-panel {
        display: none;
    }
}