@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.LSRPanel {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../../public/assets/images/left-panel-background.png');
    background-size:auto;
    float: left;
    background-position: center;
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    margin-left: 0%;
}

.LSRPanelContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.LSRPanelImage {
    width: 600px;
    height: auto;
    display: block;
    border-radius: 14px;
}

@media screen and (max-width: 700px) {
    .leftPanell {
        display: none;
    }
}
