.navbar-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 17px;
}

.navbar-links a {
    text-decoration: none;
    color: black;    
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #DDA853;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    gap: 10px;
}

.logo {
    height: 150px;
    width: 150px;
}


.ul {
    display: flex;
    justify-content: center;
    padding: none;
    text-align: center;
}

.navbarButton {
    
}

/* 

.cn {
    margin: 0;
} */