.navbar-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar-links a {
    text-decoration: none;
    color: black;    
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}


.ul {
    display: flex;
    justify-content: center;
    padding: none;
}