.navbar-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;

}

.navbar-links a {
    text-decoration: none;
    color: black;    
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #DDA853;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    gap: 10px;
}

.logo {
    height: 150px;
    width: 150px;
}


.ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbarButton {
    width: 2000px;
    height: 50px;
    align-items: center;
    align-content: center;
}
 
a {
    text-decoration: none;
}


.bottomLine {
    background-color: var(--form-input-borders);
    height: 0.2rem;
    border: none;
    width: 100%;
    display: block;
    margin: 0px;
}
