.formButton button {
    border-radius: 13px;
    padding: 4px 38px;   
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}