.home {

}


.imageOne {
    height: 700px;
    width: 100vw;
    background-position: center;
}




.about {
    background-image: url('../../assets/images/2.png');
    background-size: cover;
    background-position: center;
    padding: 8rem 2rem;
    text-align: center;
}

.about h2 {
    color: #205781;
}




.paragraphContainer {
    
}

.fourCityAbout p {
    font-size: 16px;
    color: #555;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
}
.fourCityAbout  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more {
    margin-right: 55%;
    margin-top: 10px;
    padding: 6px 12px;
    display: inline-flex;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 4px;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.fourCitySection {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}

.highlightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    direction: ltr;
    
  }
  
  .highlightText {
    text-align: right;
    max-width: 400px;
    margin-left: 40px;
  }
  
  .highlightText h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .highlightText p {
    font-size: 18px;
    color: #555;
  }
  
  .highlightImage img {
    max-width: 300px;
    border-radius: 8px;
    object-fit: cover;
  }
  .HomesearchBox{
      margin-right: 8%;
      margin-top:-150px;
  }
  .editTourCard{
    flex-direction: row;
  }
  