 .login {

     display: flex;
     
     justify-content: space-between;
     width: 100vw;  /* عرض کل صفحه */
     height: 100vh; /* ارتفاع کل صفحه */
     background: none; /* پس‌زمینه‌ی جداگانه حذف شد */
     border-radius: 0; /* گردی کناره‌ها حذف شد که کل صفحه رو بگیره */
     overflow: hidden;
     box-shadow: none;
     
 }
