.tours-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 40%;
}

.tour-card {
  background: #f4e3c3;
  border-radius: 12px;
  padding: 20px;
  width: 230px;
  text-align: center;
  box-shadow: 0 4px 8px #ccc;
  transition: transform 0.3s;
}
.tour-card:hover {
  transform: translateY(-5px);
}

.tour-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.tour-card button {
  margin-top: 20px; /* دکمه بیاد پایین‌تر */
  padding: 10px 20px;
  width: 60%;
  background: #f58119;
  border: none;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;         /* جلوگیری از رفتن متن به خط بعد */
  line-height: 1.5;            /* فاصله استاندارد متن درون دکمه */
  display: inline-block;
  text-align: center;
}


.tour-details {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  background: #f3ffe9;
  text-align: center;
  box-shadow: 0 8px 16px #ccc;
  animation: fadeIn 0.5s ease-in-out;
}

.tour-image-large {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}

.tourCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; /* فاصله بین کارت‌ها */
  margin: 2rem auto;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
